<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yrws.chat.dao.FollowMapper" >
  <resultMap id="BaseResultMap" type="com.yrws.chat.entity.Follow" >
    <result column="from_username" property="fromUsername" jdbcType="VARCHAR" />
    <result column="to_username" property="toUsername" jdbcType="VARCHAR" />
  </resultMap>
<!--   支鹏宇 -->
<!--   添加关注 -->
  <insert id="addFollow" parameterType="com.yrws.chat.entity.Follow" >
    INSERT INTO
     follow (from_username, to_username)
    VALUES
     (#{fromUsername,jdbcType=VARCHAR}, #{toUsername,jdbcType=VARCHAR})
  </insert>
<!--  删除关注 -->
	<delete id="deleteFollow" parameterType="com.yrws.chat.entity.Follow">
		DELETE
		 from follow 
		WHERE
		 from_username = #{fromUsername,jdbcType=VARCHAR} AND to_username = #{toUsername,jdbcType=VARCHAR}
	</delete>
<!-- 关注回显 -->
 <select id="selectLove" resultMap="BaseResultMap" parameterType="com.yrws.chat.entity.Follow" >
    SELECT 
    from_username,to_username
    FROM
     follow
    WHERE
     from_username = #{fromUsername,jdbcType=VARCHAR} AND to_username = #{toUsername,jdbcType=VARCHAR}
  </select>
  
  <!-- +++++++++++++++hzi+++++++++++++++++++++ -->
  
  
  
  
  
  
  
  
  <insert id="insert" parameterType="com.yrws.chat.entity.Follow" >
    insert into follow (from_username, to_username)
    values (#{fromUsername,jdbcType=VARCHAR}, #{toUsername,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.yrws.chat.entity.Follow" >
    insert into follow
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="fromUsername != null" >
        from_username,
      </if>
      <if test="toUsername != null" >
        to_username,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="fromUsername != null" >
        #{fromUsername,jdbcType=VARCHAR},
      </if>
      <if test="toUsername != null" >
        #{toUsername,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
</mapper>